@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@latest/font/bootstrap-icons.css");

html, head, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', Verdana, sans-serif;

    height: 100%;
    width: 100%;
}

a {
    color: grey;
}

a:visited {
    color: grey;
}

a:active {
    color: lightgrey;
}

.list-group-item-action {
    cursor: pointer;
}

.hover-pulse-animation {
    animation: pulse 500ms ease-in-out 0s 1 normal forwards;
}

.ovo {
    animation: wiggle 30s ease-in-out 0s infinite normal forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.015);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}